
      html {
           font-family: 'Roboto', sans-serif; 
      }
  

   /*BOX MODEL

   Modelo de caixa
   toda caixa tem
   largura, altura, espaçamentos, preenchimentos
   bordas, cor, fundo, maneira que é vista pelo html (display)
   */

   #page-home {
  background-url: url('../extras-aula-1/home-background.sgv')  no-repeat;
   }

   #page-home .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}


   header {
       display: flex;
       align-items: center;
       justify-content: space-between; 
   }

  
   
      